#case-page-container {
  position: fixed;
  top: 12vh;
  left: 12vw;
  width: 80%;
  height: 80vh;
  background-color: #dee1eb;
  padding: 1rem;
  overflow-y: auto;
  border: 2px solid #0000009d;
}

.filters-container {
  border-radius: 8px;
  padding: 1rem;
}

.edit-icon {
  color: #05253e;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.edit-icon:hover {
  color: #0d6efd;
}
